@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Ensure input placeholders are left-aligned */
input::placeholder,
textarea::placeholder {
    text-align: left !important;
}
